*
{
	text-align:center;
	background-color:#FFDAF5;
	margin:inherit;
	list-style-position:inside; 
	
}
@font-face
{
	font-family: 'Arimo';
	src:url('bacs200/css/fonts/Arimo-VariableFont_wght.ttf') format('truetype');
}
h1
{
	font-family:'Arimo';
}
h2
{
	
}
h3
{
	
}
body 
{
	border:8px solid #FDB0DE;
}
