*
		{
			text-align: center;
			list-style-position: inside;
			padding-left: 0;
			background-color:#009A1F; 
			margin:inherit;
			
		}
		h1
		{
			font-size: 75px;
			text-decoration: underline;
			font-style: italic;
			font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
			text-transform: capitalize;
			
		}
		h2
		{
			font-size: 30px;
			font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
			margin: 0px;
		}
		h3
		{
			font-size:75px
		}
		header
		{
			border:medium #012E0D
		}
		body
		{
			border: 10px solid #012E0D;
			text-decoration-color: #010D04;
		}
		@media all and (max-width: 600px)
		{
			header h1
			{
				font-size: 12vw
			}
		}
